html, body {
    height: 100%;
}

div.wrapper {
    height:100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items:center;
    -webkit-justify-content: center;
    justify-content:center;
    text-align: center;
}
